///////// COLORS
$colorMainDark: #101022;
$colorSidebar: rgba(16,16,34,0.95);

$colorStarDone: #21233d;

$colorTextLight:  #8a8995;
$colorTextDark:  #080606;


$colorTasksBg: #f6f6f6;
$colorTasksBorder: #e0e0e0;


/////// margin step

$stepSize: 5px; 




